.footer-chonie{
	background-image: url(https://theme.hstatic.net/1000313040/1000406925/14/footer-bg.png?v=1925); 
    background-repeat: no-repeat;
}
.footer-img img{
	height: 152px;
	width: auto;
}
.footer-chonie-text{
	display: flex;
}
.footer-chonie{
	margin-top: 55px;
}
.footer-chonie-total{
    padding-top: 55px;
    display: flex;
    justify-content: center;
    padding-bottom: 110px;
}
.footer-chonie-text svg{
	font-size: 19px;
	color: white;
	margin-top: 10px;
	margin-right: 10px;
}
.footer-chonie-text p{
	font-size: 16px;
	color: white;
	margin-right: 10px;
	margin-top: 10px;
}
.footer-chonie-terms-item h4{
	font-size: 16px;
	color: white;
	margin: 0;
    margin-bottom: 40px;
	text-transform: uppercase;
}
.footer-chonie-terms-item1 a{
	text-decoration: none;
	font-size: 15px;
	color: white;
    margin-bottom: 10px;
    line-height: 25px;
}
.footer-chonie-terms-item1 p{
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
	line-height: 25px;
}
.footer-chonie-overlay{
    background: rgba(0, 0, 0, 0.5);
}
.footer-chonie-terms-social svg{
	text-decoration: none;
	color: white;
	font-size: 20px;
	margin-top: 20px;
	margin-right: 10px;
}
.footer-chonie-item{
	flex: 1;
}
.footer-chonie-terms{
	flex: 1;
}
.footer-chonie-terms-item1:hover a{
	color: orange;
}
.footer-chonie-terms-social:hover i{
	color: orange;
}